# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template


# IntelliJ project files
.idea
*.iml
out

gen### Qt template
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*


# Qt unit tests
target_wrapper.*


# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*
.idea/.name
.idea/hipyqt.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
_0cpp_/
_1_/basic.qmlc
_1cpp_/pymain.qmlc
_2_/Cell.qmlc
_3_/MainPage.qmlc
_3_/MainPageForm.ui.qmlc
_3_/main.qmlc
